// Main header
.header-toolbar {
  background-image: linear-gradient(to right, #D50032, #4F4A93 );
  // position: fixed;
  // top: 0;
  // z-index: 1000;
  mat-toolbar-row {
    padding: 0;
  }
  .sidenav-menu-btn {
    color: #FFF;
    background-color: transparent;
  }
  .company-name {
    position: absolute;
    text-align: center;
    font-weight: bold;
    width: 100%;
    font-size: 2.5rem;
    color: #FFF;
  }
  button {
    color: #FFF;
    margin: 10px;
  }
  .username {
    font-size: 15px;
    color: #FFF;
  }
  .user-initials {
    background-color: #D50032;
  }
}
mat-icon {
  transform: scale(1.2);
}
.spacer {
  flex: 1 1 auto;
}

// Sidenav
.sidenav-right {
  display: flex;
  position: fixed;
  width: 25% auto;
  z-index: 1000;
  height: 100%;
  text-align: center;
  padding: 10px;
  border: 1px solid #555555;
  .sidenav-close-btn {
    background-color: #FFF;
    color: #D50032;
    border: 1px solid #D50032;
  }
  .sidenav-close-btn:hover {
    background-color: #D50032;
    color: #FFF;
    border: 1px solid #FFF;
  }
}

// Mat-Badge CSS
::ng-deep .mat-badge-content {background: #D50032;}
