.background-image {
  // z-index: -1;
  background: url('../../../assets/images/img-PracticeExams-hero-fullscreen.jpg') no-repeat center center;
  background-size: cover;
  // margin: 10px 50px;
  padding: 10px 50px;
}

.top-links {
  padding: 10px 50px;
  button {
    color: #D50032;
    text-decoration: none;
    // margin-left: 50px;
  }
}

.exam-services {
  color: #D50032;
  padding-top: 10px;
  margin-left: 20px;
}

.description {
  // width: 100%;
  background-color: transparent;
  box-shadow: none;
  // border: 1px solid black;
}

.practice-exams h1 {
  // width: 100%;
  font-size: 50px;
  line-height: 1.2;

}

.paragraph {
  color: gray;
  font-size: 23px;
  line-height: 1.2;
  margin-bottom: 25px;
  // width: 50%;
  // border: 1px solid black;
  h1 {
    font-weight: bold;
    font-style: italic;
  }
}

.exam-cards mat-card {
  width: 100%;
  background-image: linear-gradient(to bottom right, #C67946, #9F3778);
  color: #FFF;
  margin: 15px;
  text-align: center;
  mat-card-subtitle {
    color: #FFF;
  }
  .purchase-btn {
    color: #D50032;
    font-weight: bold;
    border: 2px solid #D50032;
    border-radius: 20px;
    margin: 10px 0;
    padding: 0 40px;
  }
}

.stats-card {
  padding: 0px 50px;
  section {
    width: 25% auto;
    padding: 15px 30px;
    h1{
      font-size: 55px;
      font-weight: bold;
      color: #3399FF;
      text-align: center;
    }
    p {
    color: #4F4A93;
    font-weight: bold;
    }
  }
}

.lower-section {
  padding: 15px 50px;
  margin-top: 15px;
  .pdf-box {
    // width: 50%;
    color: #FFF;
    background-color: #922269;
    .pdf-btn {
      color: #FFF;
      background-color: #D50032;
      width: 100%;
      text-align: left;
    }
  }
  .right-side {
    // width: 50%;
    color: gray;
    font-size: 20px;
    padding: 20px;
  }
}

// ::ng-deep ::-webkit-scrollbar {
//   width: 10px;
// }
// ::ng-deep ::-webkit-scrollbar-track {
//   border-radius: 10px;
// }
// ::ng-deep ::-webkit-scrollbar-thumb {
//   background: #999;
//   border-radius: 10px;
// }
// ::ng-deep ::-webkit-scrollbar-thumb:hover {
//   background: #aaa;
// }
