<app-header></app-header>
<app-secondary-header></app-secondary-header>

<section class="background-image">

  <h1 class="exam-services"><b>NABP</b> EXAM SERVICES</h1>

  <div fxLayout="row">
    <mat-card class="description" fxFlex="50%" fxFlex.sm="100%" fxFlex.xs="100%">
      <mat-card-title class="practice-exams">
        <h1><b>Practice Exams only from NABP</b></h1>
        <br>
        <h1>Let's do this.</h1>
        <br>
      </mat-card-title>
      <mat-card-content class="paragraph">
        <h1>Ready to take the big NAPLEX&#174; or the MPJE&#174;?</h1>
        <br>
        <p>
          Get an edge on your licensure exams with practice exams
          only from NABP. Pre-NAPLEX and Pre-MPJE offer a realistic
          exam experience to help you know what to expecton exam
          day and prepare you for success when the stakes get high.
        </p>
      </mat-card-content>
    </mat-card>
  </div>


  <div class="exam-cards" fxLayout="row" fxLayout.lt-sm="column"> <!--  -->
    <mat-card class="exam-card-left" fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%"> <!--  -->
      <mat-card-title>Pre-NAPLEX&#174;</mat-card-title>
      <mat-card-subtitle>Practice Exam</mat-card-subtitle>
      <mat-card-content>
        <p>You've spent hours upon hours studying.
          Now take yourself to the next level of preparation
          with this 100 question practice test.</p>
          <button class="purchase-btn" mat-raised-button>Purchase</button>
      </mat-card-content>
    </mat-card>

    <mat-card class="exam-card-right" fxFlex="20%" fxFlex.sm="100%" fxFlex.xs="100%"> <!--  -->
      <mat-card-title>Pre-MPJE&#174;</mat-card-title>
      <mat-card-subtitle>Practice Exam</mat-card-subtitle>
      <mat-card-content>
        <p>Whether you're seeking your first license or preparing
          to transferr an existing one, the Pre-MPJE is the
          best way to get started
        </p>
          <button class="purchase-btn" mat-raised-button>Purchase</button>
      </mat-card-content>
    </mat-card>
  </div>

</section>

<!-- <div> -->
  <table mat-table [dataSource]="dataSource" class="table">

    <!-- Description Column -->
    <ng-container matColumnDef="description">
      <td mat-cell *matCellDef="let nabp" fxLayout="row" fxLayout.lt-sm="column"> {{nabp.description}} </td>
      <td mat-footer-cell *matFooterCellDef fxLayout="row" fxLayout.lt-sm="column">
        Join the thousands of testing candidates who use the NABP practice exams
        each year to get a trial run for test day that includes past questions,
        similar formats, and similar timing.
      </td>
    </ng-container>

    <!-- Pre-Naplex Tests Taken Column -->
    <ng-container matColumnDef="preNaplex">
      <td mat-cell *matCellDef="let nabp"> {{nabp.preNaplex}} </td>
      <td mat-footer-cell *matFooterCellDef> Pre-NAPLEX practice exams are administered each year. </td>
    </ng-container>

    <!-- Pre-MPJE Tests Taken Column -->
    <ng-container matColumnDef="preMpje">
      <td mat-cell *matCellDef="let nabp"> {{nabp.preMpje}} </td>
      <td mat-footer-cell *matFooterCellDef> Pre-MPJE practice exams were administered in 2020-the first launch year. </td>
    </ng-container>

    <!-- Naplex Tests Passed Column -->
    <ng-container matColumnDef="naplexPassed">
      <td mat-cell *matCellDef="let nabp"> {{nabp.naplexPassed}} </td>
      <td mat-footer-cell *matFooterCellDef> of candidates taking a practice exam passed their NAPLEX on the first attempt. </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    <tr mat-footer-row *matFooterRowDef="displayedColumns"></tr>

  </table>
<!-- </div> -->


<!-- <mat-card class="stats-card">
  <mat-card-content fxLayout="row" fxLayout.lt-md="column">
    <section>
      <h1></h1>
      <p>
        Join the thousands of testing candidates who use the NABP practice exams
        each year to get a trial run for test day that includes past questions,
        similar formats, and similar timing.
      </p>
    </section>
    <section>
      <h1>14k+</h1>
      <p>Pre-NAPLEX practice exams are administered each year.</p>
    </section>
    <section>
      <h1>9k</h1>
      <p>Pre-MPJE practice exams were administered in 2020-the first launch year.</p>
    </section>
    <section>
      <h1>85%</h1>
      <p>of candidates taking a practice exam passed their NAPLEX on the first attempt.</p>
    </section>
  </mat-card-content>
</mat-card> -->

<div class="lower-section" fxLayout="row" fxLayout.lt-sm="column">
  <mat-card class="pdf-box">
    <mat-card-content>
      <p>
        We know the exam registration process can be overwhelming.
        The Bulletin is your step-by-step guide to help you understand
        everything you need to know for test day.
        <br>
        <br>
        View and download the PDF for all the details.
      </p>
    </mat-card-content>
    <mat-card-footer>
      <button mat-button class="pdf-btn" (click)="downloadPdf()">
        <mat-icon>picture_as_pdf</mat-icon>
        Download it now
      </button>
    </mat-card-footer>
  </mat-card>

  <p class="right-side">
    The Pre-NAPLEX and Pre-MPJE are the only official practice exams
    from NABP and can be taken online, anytime, anywhere.
  </p>
</div>

<app-footer></app-footer>
