<footer>
  <mat-toolbar color="primary" class="app-footer">
    <div class="flx-row-nwrp flx-jst-btwn-aln-cntr footer-content">

      <div style="text-align:left" class="copy-right">
        &#174; 2021 All Rights Reserved National Association of Boards of Pharmacy
      </div>

      <div style="text-align:right" class="footer-links">
        <a href="#" class="footer-link" target="_blank">FAQs</a>
        <a href="#" class="footer-link" target="_blank">Privacy Policy</a>
        <a href="#" class="footer-link" target="_blank">Terms & Conditions</a>
      </div>
    </div>
  </mat-toolbar>
</footer>


<!-- <footer>
  <mat-toolbar>
    <mat-toolbar-row class="footer">
      <span class="footer-text">&#174; 2021 All Rights Reserved National Association of Boards of Pharmacy</span>
      <span class="spacer"></span>
        <a href="https://nabp.pharmacy/help/" target="_blank">FAQs</a>
        <a href="https://nabp.pharmacy/privacy-policy/"target="_blank">Privacy Policy</a>
        <a href="https://nabp.pharmacy/terms-policies/nabp-terms-policies/" target="_blank">Terms & Conditions</a>
    </mat-toolbar-row>
  </mat-toolbar>
</footer> -->

