<div>
  <footer>
    <mat-toolbar>
      <mat-toolbar-row class="footer">
        <span class="footer-text">&#174; 2021 All Rights Reserved National Association of Boards of Pharmacy</span>
        <span class="spacer"></span>
        <button mat-button><a href="https://nabp.pharmacy/help/" target="_blank">FAQs</a></button>
        <button mat-button><a href="https://nabp.pharmacy/privacy-policy/"target="_blank">Privacy Policy</a></button>
        <button mat-button><a href="https://nabp.pharmacy/terms-policies/nabp-terms-policies/" target="_blank">Terms & Conditions</a></button>
      </mat-toolbar-row>
    </mat-toolbar>
  </footer>
</div>
