.footer {
  color: #FFF;
  background-color: #69636A;
  padding-left: 50px;
  font-size: 15px;
  // position: fixed;
  // bottom: 0;
  // z-index: 1000;
}
a {
  color: #FFF;
  text-decoration: none;
  padding: 10px;
}
.spacer {
  flex: 1 1 auto;
}
